@media (min-width: 1000px) {
    .container{
        position: relative;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
     }
    
}

/* Mobile Header */
@media screen and (max-width: 999px) {
    .container{
        position: relative;
        width: 100%;
        margin: 0 auto;
        max-width: 1000px;
    }
}
