.logo{
    display: none;
}
@media (min-width: 1000px) {
    .mobileNavbar{
        display: none;
    }
    .innercontainer{
        display: flex !important;
        justify-content: space-between !important;
        padding: 5px 0;
        align-items: center !important;
    }
    .desktopNavbar{
        display: block;
    }
    .navbarBrand>img{
        margin-right: 40px;
    }
    .navbarMenu{
        display: inline-flex;
        flex-wrap: wrap;
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: space-between;
    }
    .navbarMenuItem{
        display: flex;
        align-items: center;
        padding: 3px 0;
    }
    .navbarMenuItem:not(:last-child){
        margin-right: 20px;
    }
    .navbarMenuItem .firstItem{
        background: url('../../../../images/brand/sssomething-logo-1.png') no-repeat;
        background-size: 20px 20px;
    }
    .navbarMenuItem>a{
        position: relative;
        color: white;
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 7px;
        border-bottom: 4px solid transparent;
        letter-spacing: 0.9px;
        transition: color .1s ease-in-out;
    }
    .navbarMenuItem.whiteHeader>a{
        color: var(--gray) ;
    }
    .firstItem{
        color: var(--main-brand-color-theme) !important;
        padding-left: 25px;
        border-bottom: 4px solid var(--main-brand-color-theme) !important;
    }
    .navbarMenuItem:last-child a{
        color: var(--main-brand-color-theme) !important;
        transition: all .1s linear;
        opacity: 1 !important;
    }
    .subMenu{
        margin-top: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ddd;
        box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        visibility: hidden;
        opacity: 0;
        transition: all 0.15s ease-in-out;
    }
    
    .subMenu>li>a{
        padding: 5px 20px;
        color: #777777 !important;
        display: block;
        font-weight: 300;
        line-height: 1.428571429;
        white-space: nowrap;
    }
    .navbarMenuItem.whiteHeader a:hover  {
        color: var(--main-brand-color-theme) !important;
        opacity: .9 !important;
        transition: color .15s linear;
    }
    .navbarMenuItem a:hover{
        opacity: .6;
        color: var(--gray) ;
    }
    .navbarMenuItem:last-child a:hover{
        text-shadow: 0 0 1px var(--main-brand-color-theme);
        transition: all .15s linear;
    }
    .navbarMenuItem:hover .subMenu{
        visibility: visible;
        opacity: 1;
        transition: all .25s ease-in-out;
    }
    .subMenu>li>a:hover{
        background-color: #cecece2f;
        color: black !important;
        transition: all .15s ease;
    }
    
   

    .social{
        display: flex;
        float: right;
        width: auto;
        align-items: center;
    }
    
    .socialSearch{
        position: relative;
        z-index: 2;
    }
    .searchInput{
        position: absolute;
        z-index: 1;
        display: block;
        right: -5px;
        top: 5px;
    }
    .searchBar{
        display: inline-block;
        vertical-align: middle;
        color:  #919191;
        text-shadow: 0 0 1px #ccc !important;
        background: white;
        border-radius: 8px;
        transition: all .5s ease-in-out;
        width: 0;
        line-height: 20px;
        height: 34px;
        font-size: 14px;
    }
    .searchBar.active{
        width: 600px !important;
        border: 2px solid #919191;
        padding: 4px 26px 6px 12px;
    }
    .searchBar.whiteHeader{
        color:  #4a4a4a;
    }
    .searchBar::placeholder{
        color: var(--gray);
    }
    .searchBar.whiteHeader::placeholder{
        color: #4a4a4a;
    }
    .searchBar:focus{
        outline: none;
        border-color: var(--main-brand-color-theme);
    }
    
    .socialLogo{
        color: var(--gray);
        display: flex;
        align-items: center;
        font-size: 11px;
        line-height: 0;
        cursor: pointer;
        transition: all .25s ease-in-out;
    }
    .socialLogo.whiteHeader{
        color: var(--gray-dark) !important;
    }
    .socialLogo:first-child{
        position: relative;
        z-index: 2;
        height: 41px;
        text-align: center;
        vertical-align: middle;
    }
    .fbLogo, .igLogo{
        height: 41px;
        margin-left: 15px;
        font-size: 13px;
    }
    .socialLogo.fbLogo:hover{
        color: var(--main-brand-color-theme);
        transition: all .25s ease-in-out;
    }

    .socialLogo.igLogo:hover{
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all .25s ease-in-out;
    }
    .avatar{
        margin-left: 25px;
        background-image: url('../../../../images/avatar/sss-avatar.jpg');
        background-size: 50px 50px;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        transition: all .15s linear;
        background-position: 50%;
    }
    .avatar:hover {
        transform: scale(105%);
        transition: all .15s linear;
    }

}

/* Small screen */
@media screen and (max-width:1200px) {
    .searchBar.active{
        transition: width .25s linear;
        width: 400px !important;
    }
}

/* Mobile Header */
@media (max-width: 999px) {

    @keyframes open {
        from{transform: translateX(-100%);}
        to{transform: translateX(0%);}
    }
    @keyframes close {
        from{left: 0%;}
        to{left: -100%;}
    }
    .innercontainer{
        padding: 5px 0;
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        display: block;
        height: 40px;
        width: 40px;
    }
    .mobileNavbar{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: relative;;
        padding: .5rem 1rem;
    }
    .desktopNavbar{
        display: block;
        position: fixed;
        top: 61px;
        left: -100%;
        z-index: 100;
        width: 100%;
        height: 100%;
        outline: 0;
        background-color: white;
        width: 75vw;
        height: calc(100vh - 60px);
        box-shadow: 0px 0px 5px #ccc;
        transition: all .25s linear;
    }
    .desktopNavbar.openNavbarMenu{
        left: 0 !important;
    }
    .navbarBrand{
            display: none;
        }
    .navbarMenu{
        display: block;
        list-style: none;
        padding: 20px 0;
    }
    
    .navbarMenuItem{
        position: relative;
        display: block;
    }

    .navbarMenuItem>a{
        display: block;
        color: rgb(49, 49, 49);
        text-shadow: 0px 0px 1px #ccc !important;
        box-shadow: none;
        letter-spacing: 0.5px;
        transition: all .25s ease;
        padding-top: 5px;
        padding-bottom: 5px;
        height: max-content;
        font-size: 14px;
        font-weight: 500;
        padding-left: 5px;
        border-left: 5px solid transparent;
    }
    .navbarMenuItem .firstItem{
        border-left: 5px solid var(--main-brand-color-theme);
    }
    .navbarMenuItem:last-child a{
        color: var(--main-brand-color-theme);
    }
    .navbarMenuItem a:hover  {
        color: var(--main-brand-color-theme) !important;
        transition: color .15s linear;
    }
    .navbarMenuItem:last-child a:hover{
        text-shadow: 0 0 1px var(--main-brand-color-theme) !important;
        transition: all .15s linear;
    }
    
    .subMenu{
        margin-top: 0;
        position: relative;
        z-index: 30;
        min-width: 160px;
        padding: 0 5px;
        margin: 2px 0 0;
        text-align: left;
        list-style: none;
        
    }
    
    .subMenu>li>a{
        transition: all .25s ease;
        padding: 5px 20px;
        color: #585858;
        display: block;
        font-weight: 300;
        line-height: 1.428571429;
        white-space: nowrap;
        padding-right: 50px;
    }
    
    .subMenu>li>a:hover{
        background-color: #cecece2f;
        color: #4a4a4a;
        transition: all .15s ease;
    }
    .social{
        display: flex;
        float: right;
        width: auto;
        align-items: center;
        margin-right: 16px;
        transition: all .5s linear;
        right: 0;
    }
    .active{
        transition: all .5s ease-in-out;
        transition-delay: .25s !important;
    }
    .social.active{
        position: absolute;
        right: -46px;
    }
    .socialSearch{
        position: relative;
        z-index: 100;
    }
    .searchInput{
        position: absolute;
        z-index: 1;
        display: block;
        right: -5px;
        top: 4px;
    }
    .searchBar{
        display: inline-block;
        vertical-align: middle;
        color:  #919191;
        text-shadow: 0 0 1px #ccc !important;
        background: white;
        width: 0;
        line-height: 20px;
        height: 34px;
        font-size: 14px;
        right: -5px;
        /* transition: all .1s linear; */
    }
    .searchBar.active{
        border-radius: 8px;
        
        position: absolute;
        width: 246px !important;
        border: 2px solid #919191;
        padding: 4px 35px 6px 12px;
    }
    .searchBar::placeholder{
        color: var(--gray);
    }
    .searchBar.whiteHeader::placeholder{
        color: #4a4a4a;
    }
    .searchBar:focus{
        outline: none;
        border-color: var(--main-brand-color-theme);
    }
    
    .socialLogo{
        color: var(--gray-dark);
        display: flex;
        align-items: center;
        font-size: 10px;
        line-height: 0;
        cursor: pointer;
        transition: all .25s ease-in-out;
    }
    .socialLogo:first-child{
        position: relative;
        z-index: 2;
        height: 41px;
        text-align: center;
        vertical-align: middle;
    }
    .fbLogo, .igLogo{
        display: none;
        height: 41px;
        margin-left: 15px;
        font-size: 13px;
    }
    .socialLogo.whiteHeader{
        color:#4a4a4a
    }
    .avatar{
        margin-left: 16px;
        background-image: url('../../../../images/avatar/sss-avatar.jpg');
        background-size: 35px 35px;
        height: 35px;
        width: 35px;
        border-radius: 35px;
        transition: all .25s linear !important;
        background-position: 50%;
        visibility: visible;
        opacity: 1;
        transition-delay: .25s;
    }
    .avatar.active{
        visibility: hidden;
        opacity: 0;
    }
}