.homeContainer{
    margin-top: 50px;
    display: grid;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px 100px 350px;
    grid-gap: 20px;
    padding-bottom: 20px;
}