
.postContainer{
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}


/* Content Post area */
.containerArticle{
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 50px;
}
.articleWrapper{
    width: 1000px;
    margin: 40px auto 0;
    position: relative;
}
.articleText{
    color: #333;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 300;
    line-height: 34px;
    margin: 40px auto;
    position: relative;
}
.articleText p{
    margin-bottom: 30px;
}
.articlePhotoBlock{
    margin: 0 0 30px;
    margin-left: calc(-100vw/2 + 1000px/2);
    width: 100vw;
}
.articlePhotoPlaceholder{
    margin: 0 auto;
}
.photoLoaded{
    max-width: 80vw;
    height: auto;
    max-height: 70vh;
    display: block;
    margin: auto;
    width: auto;
}
.caption{
    color: #9b9b9b;
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
    line-height: 28px;
    margin: 0 auto;
    max-width: 670px;
    padding-top: 1em;
    position: relative;
    text-align: center;
    white-space: pre-wrap;
}

.authorContainer{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.authorAvatar{
    background-position: 50%;
    border-radius: 35px;
    height: 70px;
    margin: 0 auto;
    width: 70px;
}
.authorName{
    font-size: 20px;
    font-weight: 700 !important;
    letter-spacing: 5px;
    margin-top: 15px;
    line-height: 30px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.authorName a{
    color: #666;
}
.viewProfile{
    margin-top: 5px;
}
.viewProfile a{
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    color: var(--main-brand-color-theme);
}