.login{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.8)), url('../../images/posts/DSCF1359.jpg');
    background-size: cover;
}
.loginTitle{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    color: var(--gray-dark);
    margin: 0 auto;
}
.loginForm{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.568);
    border: .5px solid rgb(202, 202, 202);
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.loginForm > label{
    margin: 10px 0;
    font-weight: 300;
}
.loginInput{
    padding: 10px;
    background-color: white;
    border:none;
    border-radius: 8px;
    color: var(--gray)
}
.loginInput:focus{
    outline: none;
}
.loginBtn{
    margin-top: 20px;
    cursor: pointer;
    background-color: var(--main-brand-color-theme);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    transition: all .15s linear;
}
.loginBtn:hover{
    opacity: 0.7;
}
.registerBtn{
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all .15s linear;
    width: 100%;
}
.registerBtn:hover{
    color: var(--main-brand-color-theme);
}
