.shareButtonContainer{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    right: 0;
    top: 40vh;
    transition: visibility .3s ease, opacity 0.3s ease;
    z-index: 90;
    display: flex;
    flex-direction: column;
}
.shareButtonContainer.visible{
    opacity: 1;
    visibility: visible;
    transition: visibility .3s ease, opacity 0.3s ease;
}

.shareButtonContainer a{
    display: block;
    position: relative;
    background-color: #555;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    opacity: 0.6;
    text-align: center;
    width: 40px;
    cursor: pointer;
    transition: all .3s linear;
}
.shareButtonContainer a:hover{
    background-color: #333;
}

.shareButtonContainer a i{
    font-size: 22px;
    line-height: 40px;
}
.quotes{
    position: absolute;
    display: none;
    background-color: #999;
    color: #fff;
    left: -100%;
    border-radius: 3px;
    padding: 5px;
}
.quotes.fbQuotes{
    top: 10px;
}
.quotes.twQuotes{
    top: 60px;
}
.quotes.mailQuotes{
    top: 110px;
    left: -75% !important;
}
.quotes:before{
    content: "";
    position: absolute;
    right: -6px;
    top: 8px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #999;
}
.shareButtonContainer a:hover + .quotes{
    display: block !important;
}